body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #222;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
}

button {
  padding: 10px 20px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
}
button:hover{ background-color: rgb(150, 6, 35);

}